/*

████████╗██╗  ██╗███████╗███╗   ███╗███████╗███████╗
╚══██╔══╝██║  ██║██╔════╝████╗ ████║██╔════╝██╔════╝
   ██║   ███████║█████╗  ██╔████╔██║█████╗  ███████╗
   ██║   ██╔══██║██╔══╝  ██║╚██╔╝██║██╔══╝  ╚════██║
   ██║   ██║  ██║███████╗██║ ╚═╝ ██║███████╗███████║
   ╚═╝   ╚═╝  ╚═╝╚══════╝╚═╝     ╚═╝╚══════╝╚══════╝

*/

/*******************************
        Theme Selection
*******************************/

/* To override a theme for an individual element
   specify theme name below
*/

/* Global */
@site       : 'bannerwise';
@reset      : 'bannerwise';

/* Elements */
@button     : 'bannerwise';
@container  : 'bannerwise';
@divider    : 'bannerwise';
@flag       : 'bannerwise';
@header     : 'bannerwise';
@icon       : 'bannerwise';
@image      : 'bannerwise';
@input      : 'bannerwise';
@label      : 'bannerwise';
@list       : 'bannerwise';
@loader     : 'bannerwise';
@rail       : 'bannerwise';
@reveal     : 'bannerwise';
@segment    : 'bannerwise';
@step       : 'bannerwise';

/* Collections */
@breadcrumb : 'bannerwise';
@form       : 'bannerwise';
@grid       : 'bannerwise';
@menu       : 'bannerwise';
@message    : 'bannerwise';
@table      : 'bannerwise';

/* Modules */
@accordion  : 'bannerwise';
@checkbox   : 'bannerwise';
@dimmer     : 'bannerwise';
@dropdown   : 'bannerwise';
@embed      : 'bannerwise';
@modal      : 'bannerwise';
@nag        : 'bannerwise';
@popup      : 'bannerwise';
@progress   : 'bannerwise';
@rating     : 'bannerwise';
@search     : 'bannerwise';
@shape      : 'bannerwise';
@sidebar    : 'bannerwise';
@sticky     : 'bannerwise';
@tab        : 'bannerwise';
@transition : 'bannerwise';

/* Views */
@ad         : 'bannerwise';
@card       : 'bannerwise';
@comment    : 'bannerwise';
@feed       : 'bannerwise';
@item       : 'bannerwise';
@statistic  : 'bannerwise';

/*******************************
            Folders
*******************************/

/* Path to theme packages */
@themesFolder : 'themes';

/* Path to site override folder */
@siteFolder  : 'site';


/*******************************
         Import Theme
*******************************/

@import "theme.less";

/* End Config */
